@charset "utf-8";
/*noto sans KR font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif;}
ul,ol{list-style:none;}
a,a:link{text-decoration:none; color:#000;}
html, body { box-sizing: border-box; padding: 0; margin: 0;}
.clearfix:after { content: ''; display: block; clear: both; float: none; }
img{vertical-align:top;}
html{margin:0 auto;}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ DESKTOP ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
	@media screen and (min-width:1024px){
		.move{
			position:fixed;
			display:none;
			right:30px;
			bottom:30px;
			z-index:999;
			opacity:0.5;
		}
		#top_move{
			cursor:pointer;
			display:inline-block;
			width:30px;
			height:30px;
			background:#8a8a8a;
			border-radius:50%;
		}
		#top_move img{
			width:20px;
			padding:8px 5px;
		}
	/*★★★★★★★ HEADER ★★★★★★★*/
		header{
			width:100%;
			clear:both;
			float:left;
			min-width:1200px;
		}
		#header-top{
			width:100%;
			border-bottom:1px solid #e3e3e3;
		}
		#header-top-inner{
			width:80%;
			height:60px;
			line-height:60px;
			margin:0 auto;
			position:relative;
			text-align:center;
		}
		#header-top-inner h1{
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -29.92px;
		}
		#header-top-inner>a>img{
			width:70px;
		}
		.gnb{
			position:relative;
			float:right;
			height:60px;
		}
		.gnb>li{
			float:left;
			padding:12px 10px 0 10px;
		}
		.gnb>li img{
			height:35px;
		}
		.batlogo{
			position:absolute;
			top:8px;
			left:0px;
		}
		.search-box{
			transition:.5s;
		}
		.search-txt,.search-s{
			position:absolute;
			top:9px;
			right:96%;
			padding:0;
			width:0px;
			border:none;
			float:left;
			outline:none;
			font-size:12px;
			height:40px;
			line-height:40px;
			transition:.4s;
			box-sizing:border-box;
		}
		.search-box:hover .search-txt{
			margin-right:10px;
			padding:0 10px;
			width:200%;
			border:1px solid #e3e3e3;
			border-radius:30px;
		}
		.search-box:hover .search-s{
			width:70px;
			padding:0;
			border:1px solid #e3e3e3;
			border-radius:30px;
		}
		.search-s:hover{
			background:#000;
			color:#fff;
			cursor:pointer;
		}
		.mobile-search{
			display:none !important;
		}
		#header-bottom{
			width:100%;
			border-bottom:1px solid #e3e3e3;
		}
		.navbutton,.closebutton{position:absolute; top:-9999em;}
		.sbbutton{position:absolute; top:-9999em;}
		.closeimg{display:none !important;}
		#header-bottom-inner{
			width:80%;
			height:60px;
			line-height:60px;
			margin:0 auto;
		}
		.lnb{
			position:relative;
			width:100%;
			height:100%;
			display:block !important;
		}
		.lnb:hover>li>a{
			color:#e3e3e3;
		}
		.lnb>li{
			position:relative;
			width:11%;
			margin:0 7%;
			float:left;
			text-align:center;
		}
		.lnb>li>a{
			font-weight:700;
			font-size:20px;
			display:inline-block;
			padding:0 15px;
			height:100%;
			transition:0.25s;
		}
		.lnb>li>a:hover{
			color:#000;
		}
		.lnb>li:hover>ul{
			display:block;
			opacity:1;
		}
		.lnb>li>ul{
			position:absolute;
			top:61px;
			left:-150px;
			z-index:30;
			background:#fff;
			width:500px;
			float:left;
			border:1px solid #e3e3e3;
			border-top:none;
			display:none;
			opacity:0;
			transition:1s;
		}
		.lnb>li>ul>li{
			height:300px;
			float:left;
			margin:0 20px;
		}
		.lnbdl:hover .navimg{
			transform:scale(1.08);             /*  default */
			-webkit-transform:scale(1.08);  /*  크롬 */
			-moz-transform:scale(1.08);     /* FireFox */
			-o-transform:scale(1.08);        /* Opera */
			transition: 0.5s;
		}
		.navtit a{
			color:#a3a3a3;
		}
		.lnbdl:hover .navtit a{
			color:#000;
			font-weight:700;
			transition:0.25s;
		}
		.homespeaker img,.soundbar img,.overear img,.onear img,.canal img,.earbud img{
			width:210px;
		}
		.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
			bottom:0 !important;
		}
	/*★★★★★★★ detail-top ★★★★★★★*/
		#detail-top{
			width:80%;
			margin:0 auto 60px;
			padding-top:60px;
			overflow:hidden;
			min-width:1200px;
		}
		.detail-left{
			width:47%;
			height:600px;
			margin-left:3%;
			padding-top:40px;
			float:left;
			text-align:center;
		}
		.bigimg img{
			width:430px;
			height:auto;
		}
		.detail-left ul{
			width:450px;
			margin:0 auto;
		}
		.detail-left ul>li{
			width:128px;
			height:80px;
			overflow:hidden;
			float:left;
			margin-right:20px;
			border:1px solid #e3e3e3;
		}
		.detail-left ul>li img{
			width:100%;
			height:auto;
			margin-top:-21px;
		}
		.detail-right{
			width:47%;
			height:600px;
			margin-left:3%;
			float:right;
			background:#eeeeee;
			overflow:hidden;
			text-align:center;
			padding-top:40px;
		}
		.detail-right h2{
			margin-bottom:40px;
			font-size:40px;
		}
		.detail-right h3{	
			margin-bottom:40px;
			font-size:24px;
		}
		.detail-right p{
			font-size:34pt;
			font-weight:400;
			margin-bottom:40px;
		}
		.detail-right ul{
			width:450px;
			margin:0 auto 40px;
			overflow:hidden;
		}
		.detail-right ul li{
			width:200px;
			height:53px;
			line-height:53px;
			border-radius:30px;
		}
		.buynow{background:#000; margin-right:50px; float:left;}
		.buynow a{color:#fff; display:block; font-weight:500;}
		.buynow:hover{background:#fff;transition:0.4s;}
		.buynow:hover a{color:#000;font-size:18px;font-weight:700;transition:0.4s;}
		.addtocart{background:#fff;float:right;}
		.addtocart a{color:#000; display:block; font-weight:500;}
		.addtocart:hover{background:#000;transition:0.4s;}
		.addtocart:hover a{color:#fff;font-size:18px;font-weight:700;transition:0.4s;}
	/*★★★★★★★ detail-middle ★★★★★★★*/
		#detail-middle{
			width:80%;
			margin:0 auto;
			box-sizing:border-box;
			overflow:hidden;
			background:#f3f3f3;
			min-width:1200px;
		}
		#detail-middle img{
			margin-top:-50px;
			width:100%;
		}
		#detail-middle .middle-top{
			border-top:1px solid #e3e3e3;
			border-bottom:1px solid #e3e3e3;
		}
		#detail-middle .middle-top ul{
			text-align:center;
			width:100%;
			overflow:hidden;
		}
		#detail-middle .middle-top ul li{
			width:33.333%;
			height:60px;
			line-height:60px;
			float:left;
		}
		#detail-middle .middle-top ul li a:hover{
			border-bottom:1px solid red;
			transition:0.25s;
		}
		.detail1,.detail2,.detail3,.detail4{
			height:510px;
			overflow:hidden;
		}
		.detail1-left{
			float:left;
			width:48%;
			padding:60px 35px;
			box-sizing:border-box;
		}
		.detail1-left h2{
			font-size:36px;
			font-weight:500;
			margin-bottom:35px;
		}
		.detail1-left h3{
			font-size:16px;
			font-weight:400;
		}
		.detail1-left p{
			margin-top:15px;
			font-size:16px;
		}
		.detail1-right{
			float:right;
			overflow:hidden;
			width:52%;
		}
		.detail1-right img{
			float:right;
		}
		.detail2-left{
			float:left;
			overflow:hidden;
			width:52%;
		}
		.detail2-right h2{
			font-size:36px;
			font-weight:500;
			margin-bottom:35px;
		}
		.detail2-right h3{
			font-size:16px;
			font-weight:400;
		}
		.detail2-right p{
			font-size:16px;
		}
		.detail2-right{
			float:right;
			padding:60px 35px;
			width:48%;
			box-sizing:border-box;
		}
	/*★★★★★★★ detail-bottom ★★★★★★★*/
		.detailvideo{
			width:80%;
			overflow:hidden;
			min-width:1200px;
			margin:70px auto;
			padding:35px 3%;
			box-sizing:border-box;
			background:#f3f3f3;
		}
		.video-left{
			float:left;
			width:27%;
		}
		.video-left h3{
			margin-bottom:30px;
			text-align:center;
		}
		.smallvideo{
			margin-bottom:30px;
		}
		.video-right{
			float:right;
			width:69%;
		}
		.video-right h3{
			text-align:center;
			margin-bottom:30px;
		}
		.video-right p{
			margin-top:15px;
		}
		.youtube { position: relative; width:100%; padding-bottom: 56.25%; }
		.youtube iframe { position: absolute; width: 100%; height: 100%; }
		.youtube-right { position: relative; width:100%; padding-bottom: 56.25%; overflow:hidden;}
		.youtube-right iframe { position: absolute; width: 100%; height: 100%; min-height:500px;}
		
		.detailtext{
			width:80%;
			overflow:hidden;
			min-width:1200px;
			margin:70px auto;
			padding:35px 3%;
			box-sizing:border-box;
			background:#f3f3f3;
		}
		.inner-detailtext{
			background:#fff;
			width:100%;
			overflow:hidden;
			padding:35px 3%;
			box-sizing:border-box;
		}
		.inner-detailtext h2{
			text-align:center;
			margin-bottom:20px;
		}
		.inner-detailtext h3{
			margin-bottom:20px;
			font-size:20px;
		}
		.inner-detailtext h4{
			padding-bottom:5px;
			margin-bottom:10px;
			font-size:18px;
			border-bottom:1px solid #f3f3f3;
		}
		.text-left{
			width:47%;
			float:left;
		}
		.inner-text{
			overflow:hidden;
			margin-bottom:30px;
		}
		.inner-left{
			float:left;
		}
		.inner-right{
			float:right;
			text-align:right;
		}
		.text-right{
			width:47%;
			float:right;
		}
	/*★★★★★★★ subscribe ★★★★★★★*/
		#subscribe{
			width:80%;
			margin:80px auto;
			text-align:center;
			clear:both;
			min-width:1200px;
		}
		.input_holder{
			width:500px;
			margin:0 auto;
			border:none;
			position:relative;
		}
		#subscribe .sub_bat{
			font-size:26px;
		}
		#subscribe .sub_mem{
			font-size:22px;
		}
		#subscribe .sub_text{
			font-size:20px;
		}
		#subscribe input[type=text]{
			margin-top:15px;
			border:2px solid #dedfe0;
			border-radius:40px;
			padding:0 25px;
			width:100%;
			height:40px;
			box-sizing:border-box;
			font-size:20px;
			outline:none;
		}
		#subscribe input[type=submit]{
			position: absolute;
			bottom:0;
			right:0;
			border: 2px solid #dedfe0;
			background: #cab293;
			height: 40px;
			width:23%;
			border-radius: 40px;
			font-size:20px;
			cursor:pointer;
			outline:none;
		}
		#subscribe input[type=submit]:hover{
			background:#ffd700;
			transition:0.5s;
			color:#fff;
		}
	/*★★★★★★★ footer ★★★★★★★*/
		footer{
			width:100%;
			min-width:1200px;
			background:#f3f3f3;
			clear:both;
		}
		#footer_inner{
			width:80%;
			margin:0 auto;
			text-align:center;
			position:relative;
			padding:50px 0;
			overflow:hidden;
			min-width:1200px;
		}
		.footlogo img{
			position:absolute;
			left:0;
			top:50px;
			width:80px;
		}
		.footnav{
			width:20%;
			display:inline-block;
			vertical-align: top;
			float:left;
		}
		.footnav h3{
			margin-bottom:10px;
		}
		.footnav ul li a{
			color:#a4a4a4;
		}
		.footnav ul li a:hover{
			color:#000;
			text-decoration:underline;
			transition:0.5s;
		}
		.follow ul li{
			float:left;
			width:25%;
		}
		.follow ul li a img{
			width:80%;
			max-width:52px;
		}
		.follow{
			margin-bottom:70px;
		}
		.snslogo{
			position:relative;
		}
		.snslogo img{
			position:absolute;
			-webkit-transition: opacity 0.25s ease-in-out;
			-moz-transition: opacity 0.25s ease-in-out;
			-o-transition: opacity 0.25s ease-in-out;
			transition: opacity 0.25s ease-in-out;
		}
		.snslogo a .hover{
			opacity:0;
		}
		.snslogo a:hover .hover{
			opacity:1;
		}
		.snslogo a:hover .non{
			opacity:0;
		}
		.logo1{
			left:0;
		}
		.logo2{
			left:100%;
		}
		.logo3{
			left:200%;
		}
		.logo4{
			left:300%;
		}
		.location a{
			border-bottom:1px solid rgba(255, 0, 0, 0);
			transition:0.5s;
		}
		.location a:hover{
			border-bottom:1px solid rgba(255, 0, 0, 1);
		}
		.updownbutton{
			display:none;
		}
		.dropmenu{
			display:block !important;
		}
	}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ P A D ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
	@media screen and (min-width:768px) and (max-width:1023px){
		.move{
			position:fixed;
			display:none;
			right:15px;
			bottom:15px;
			z-index:999;
			opacity:0.5;
		}
		#top_move{
			cursor:pointer;
			display:inline-block;
			width:30px;
			height:30px;
			background:#8a8a8a;
			border-radius:50%;
		}
		#top_move img{
			width:20px;
			padding:8px 5px;
		}
	/*★★★★★★★ HEADER ★★★★★★★*/
		header{
			width:100%;
			clear:both;
			float:left;
		}
		#header-top{
			width:100%;
			border-bottom:1px solid #e3e3e3;
		}
		#header-top-inner{
			height:60px;
			line-height:60px;
			margin:0 auto;
			position:relative;
			text-align:center;
		}
		#header-top-inner h1{
			display:none;
		}
		.batlogo{
			position:absolute;
			top:10px;
			left:50%;
			margin-left:-30px;
		}
		.batlogo>img{
			width:60px;
		}
		.gnb{
			position:relative;
			float:right;
			height:60px;
			margin-right:20px;
			z-index:31;
		}
		.gnb>li{
			float:left;
			padding:14px 10px 0 10px;
		}
		.gnb>li img{
			height:30px;
		}
				.search-txt,.search-s{
			display:none !important;
		}
		.mobile-search{
			position:relative;
			z-index:30;
		}
		.search-mobile,.search-mobile-btn{
			display:none;
			position:absolute;
			right:170px;
			top:10px;
			height:40px;
			line-height:40px;
			outline:none;
			font-size:12px;
			border:1px solid #e3e3e3;
			padding:0 10px;
			border-radius:30px;
			box-sizing:border-box;
		}
		.search-mobile{
			width:490px;
		}
		.search-mobile-btn{
			width:80px;
		}
		.closeimg{display:none;}
		/*header-bottom*/
		.navbutton{
			position:absolute;
			top:12px;
			left:30px;
			width:40px;
		}
		.closebutton{
			position:absolute;
			top:12px;
			left:30px;
			width:40px;
			display:none;
		}
		.lnb{
			width:100%;
			background:#202020;
			opacity:0.95;
			padding:30px;
			box-sizing:border-box;
			display:none;
			position:absolute;
			z-index:30;
		}
		.lnb>li{
			background:#000;
			line-height:180px;
			border-bottom:1px solid rgba(255,255,255);
			text-align:center;
			position:relative;
		}
		.lnb>li img{
			width:30px;
		}
		.lnb>li:nth-child(4){
			border:none;
		}
		.sbbutton{
			position:absolute;
			top:81px;
			right:3%;
		}
		.slideupbutton1,.slideupbutton2,.slideupbutton3{
			display:none;
		}
		.slidedownbutton{
		}
		.lnb>li>a{
			color:#fff;
			font-size:40px;
		}
		.navsubmenu{
			background:#202020;
			display:none;
		}
		.navsubmenu li{
			line-height:150px;
			background:#000;
		}
		.navsubmenu a{
			color:#fff;
			font-size:32px;
		}
		.navsubmenu img{
			display:none;
		}
		.navsubmenu li:nth-child(2){
			margin-bottom:0;
		}
	/*★★★★★★★ detail-top ★★★★★★★*/
		#detail-top{
			width:100%;
			margin:0 auto 50px;
			padding-top:50px;
			overflow:hidden;
		}
		.detail-left{
			width:50%;
			height:475px;
			padding-top:30px;
			float:left;
			text-align:center;
		}
		.bigimg{
			max-width:408px;
			margin:0 auto;
		}
		.bigimg img{
			width:100%;
			height:auto;
		}
		.detail-left ul{
			width:94%;
			max-width:408px;
			margin:0 auto;
			overflow:hidden;
		}
		.detail-left ul>li{
			width:32%;
			height:70px;
			overflow:hidden;
			float:left;
			margin-right:2%;
			border:1px solid #e3e3e3;
			box-sizing:border-box;
		}
		.detail-left ul>li:nth-child(3){
			margin-right:0;
		}
		.detail-left ul>li img{
			width:85%;
			height:auto;
			margin-top:-14px;
		}
		.detail-right{
			width:50%;
			height:475px;
			float:right;
			background:#eeeeee;
			overflow:hidden;
			text-align:center;
			padding-top:40px;
		}
		.detail-right h2{
			margin-bottom:40px;
			font-size:32px;
		}
		.detail-right h3{	
			margin-bottom:40px;
			font-size:18px;
		}
		.detail-right p{
			font-size:26pt;
			font-weight:400;
			margin-bottom:50px;
		}
		.detail-right ul{
			width:94%;
			margin:0 auto;
			overflow:hidden;
		}
		.detail-right ul li{
			width:48%;
			height:50px;
			line-height:50px;
			border-radius:30px;
		}
		.buynow{background:#000; float:left;}
		.buynow a{color:#fff; display:block; font-weight:500;}
		.buynow:hover{background:#fff;transition:0.4s;}
		.buynow:hover a{color:#000;font-size:18px;font-weight:700;transition:0.4s;}
		.addtocart{background:#fff;float:right;}
		.addtocart a{color:#000; display:block; font-weight:500;}
		.addtocart:hover{background:#000;transition:0.4s;}
		.addtocart:hover a{color:#fff;font-size:18px;font-weight:700;transition:0.4s;}
	/*★★★★★★★ detail-middle ★★★★★★★*/
		#detail-middle{
			width:100%;
			margin:0 auto;
			box-sizing:border-box;
			overflow:hidden;
			background:#f3f3f3;
		}
		#detail-middle .middle-top{
			border-top:1px solid #e3e3e3;
			border-bottom:1px solid #e3e3e3;
		}
		#detail-middle .middle-top ul{
			text-align:center;
			width:100%;
			overflow:hidden;
		}
		#detail-middle .middle-top ul li{
			width:33.333%;
			height:60px;
			line-height:60px;
			float:left;
		}
		#detail-middle img{
			margin-top:-50px;
			width:100%;
		}
		.detail1,.detail2,.detail3,.detail4{
			
			overflow:hidden;
		}
		.detail1-left{
			float:left;
			width:48%;
			padding:2%;
			box-sizing:border-box;
		}
		.detail1-left h2{
			font-size:24px;
			font-weight:500;
			margin-bottom:35px;
		}
		.detail1-left h3{
			font-size:14px;
			margin-bottom:10px;
			font-weight:400;
		}
		.detail1-left p{
			margin-top:15px;
			font-size:14px;
		}
		.detail1-right{
			float:right;
			overflow:hidden;
			width:52%;
		}
		.detail1-right img{
			float:right;
		}
		.detail2-left{
			float:left;
			overflow:hidden;
			width:52%;
		}
		.detail2-right h2{
			font-size:24px;
			font-weight:500;
			margin-bottom:35px;
		}
		.detail2-right h3{
			font-size:14px;
			font-weight:400;
		}
		.detail2-right p{
			font-size:14px;
		}
		.detail2-right{
			float:right;
			padding:2%;
			width:48%;
			box-sizing:border-box;
		}
	/*★★★★★★★ detail-bottom ★★★★★★★*/
		.detailvideo{
			width:100%;
			overflow:hidden;
			margin:50px auto;
			padding:35px 3%;
			box-sizing:border-box;
			background:#f3f3f3;
		}
		.video-left{
			float:left;
			width:27%;
		}
		.video-left h3{
			font-size:18px;
			margin-bottom:30px;
			text-align:center;
		}
		.smallvideo{
			margin-bottom:30px;
		}
		.video-right{
			float:right;
			width:69%;
		}
		.video-right h3{
			text-align:center;
			margin-bottom:30px;
		}
		.video-right p{
			margin-top:15px;
			font-size:13px;
		}
		.youtube { position: relative; width:100%; padding-bottom: 56.25%; }
		.youtube iframe { position: absolute; width: 100%; height: 100%; }
		.youtube-right { position: relative; width:100%; padding-bottom: 56.25%; overflow:hidden;}
		.youtube-right iframe { position: absolute; width: 100%; height: 100%; min-height:500px;}
		.dpnone{display:none;}
		/*사양*/
		.detailtext{
			width:100%;
			overflow:hidden;
			margin:50px auto;
			padding:35px 3%;
			box-sizing:border-box;
			background:#f3f3f3;
		}
		.inner-detailtext{
			background:#fff;
			width:100%;
			overflow:hidden;
			padding:35px 3%;
			box-sizing:border-box;
		}
		.inner-detailtext h2{
			text-align:center;
			font-size:20px;
			margin-bottom:20px;
		}
		.inner-detailtext h3{
			margin-bottom:20px;
			font-size:18px;
		}
		.inner-detailtext h4{
			padding-bottom:5px;
			margin-bottom:10px;
			font-size:16px;
			border-bottom:1px solid #f3f3f3;
		}
		.text-left{
			width:49%;
			float:left;
		}
		.inner-text{
			overflow:hidden;
			margin-bottom:30px;
		}
		.inner-left{
			float:left;
			font-size:11px;
		}
		.inner-right{
			float:right;
			text-align:right;
			font-size:11px;
		}
		.text-right{
			width:49%;
			float:right;
		}
	/*★★★★★★★ subscribe ★★★★★★★*/
		#subscribe{
			width:100%;
			margin:80px auto;
			text-align:center;
			clear:both;
		}
		.input_holder{
			width:500px;
			margin:0 auto;
			border:none;
			position:relative;
		}
		#subscribe .sub_bat{
			font-size:24px;
		}
		#subscribe .sub_mem{
			font-size:20px;
		}
		#subscribe .sub_text{
			font-size:18px;
		}
		#subscribe input[type=text]{
			margin-top:15px;
			border:2px solid #dedfe0;
			border-radius:40px;
			padding:0 25px;
			width:100%;
			height:40px;
			box-sizing:border-box;
			font-size:18px;
			outline:none;
		}
		#subscribe input[type=submit]{
			position: absolute;
			bottom:0;
			right:0;
			border: 2px solid #dedfe0;
			background: #cab293;
			height: 40px;
			width:23%;
			border-radius: 40px;
			font-size:18px;
			cursor:pointer;
			outline:none;
		}
		#subscribe input[type=submit]:hover{
			background:#ffd700;
			transition:0.5s;
			color:#fff;
		}
	/*★★★★★★★ footer ★★★★★★★*/

		footer{
			width:100%;
			background:#f3f3f3;
			clear:both;
		}
		#footer_inner{
			width:100%;
			margin:0 auto;
			text-align:center;
			position:relative;
			padding:50px 0;
			overflow:hidden;
		}
		.footlogo img{
			display:none !important;
		}
		.footnav{
			width:20%;
			display:inline-block;
			vertical-align: top;
			float:left;
		}
		.footnav h3{
			margin-bottom:10px;
		}
		.footnav ul li a{
			color:#a4a4a4;
		}
		.footnav ul li a:hover{
			color:#000;
			text-decoration:underline;
			transition:0.5s;
		}
		.follow ul li{
			float:left;
			width:25%;
		}
		.follow ul li a img{
			width:80%;
			max-width:52px;
		}
		.follow{
			margin-bottom:70px;
		}
		.snslogo{
			position:relative;
		}
		.snslogo img{
			position:absolute;
			-webkit-transition: opacity 0.25s ease-in-out;
			-moz-transition: opacity 0.25s ease-in-out;
			-o-transition: opacity 0.25s ease-in-out;
			transition: opacity 0.25s ease-in-out;
		}
		.hover{
			display:none;
		}
		.logo1{
			left:0;
		}
		.logo2{
			left:100%;
		}
		.logo3{
			left:200%;
		}
		.logo4{
			left:300%;
		}
		.location a{
			border-bottom:1px solid rgba(255, 0, 0, 0);
			transition:0.5s;
		}
		.location a:hover{
			border-bottom:1px solid rgba(255, 0, 0, 1);
		}
		.updownbutton{
			display:none;
		}
		.dropmenu{
			display:block !important;
		}
	}

/*@@@@@★★★★★★★☆☆☆☆☆☆☆ MOBILE ☆☆☆☆☆☆☆★★★★★★★@@@@@*/
	@media screen and (max-width:767px){
		.move{
			position:fixed;
			display:none;
			right:15px;
			bottom:15px;
			z-index:999;
			opacity:0.5;
		}
		#top_move{
			cursor:pointer;
			display:inline-block;
			width:30px;
			height:30px;
			background:#8a8a8a;
			border-radius:50%;
		}
		#top_move img{
			width:20px;
			padding:8px 5px;
		}
	/*★★★★★★★ HEADER ★★★★★★★*/
		header{
			width:100%;
			clear:both;
			float:left;
		}
		#header-top{
			width:100%;
			border-bottom:1px solid #e3e3e3;
		}
		#header-top-inner{
			height:60px;
			line-height:60px;
			margin:0 auto;
			position:relative;
			text-align:center;
		}
		#header-top-inner h1{
			display:none;
		}
		.batlogo{
			position:absolute;
			top:10px;
			left:50%;
			margin-left:-30px;
		}
		.batlogo>img{
			width:60px;
		}
		.gnb{
			position:relative;
			float:right;
			height:60px;
			margin-right:5px;
		}
		.gnb>li{
			float:left;
			padding:18px 10px 0 0;
		}
		.gnb>li img{
			height:25px;
		}
		.search-box{
			transition:.5s;
		}
		.search-txt,.search-s{
			display:none;
		}
		.search-mobile{
			position:absolute;
			top:61px;
			right:0px;
			z-index:20;
			width:100%;
			box-sizing:border-box;
			display:none;
			height:40px;
			box-sizing:border-box;
			padding:0 10px;
			border:none;
			outline:none;
			border-bottom:1px solid #e3e3e3;
		}
		.search-mobile-btn{
			position:absolute;
			top:61px;
			right:0px;
			z-index:21;
			width:15%;
			box-sizing:border-box;
			display:none;
			height:40px;
			padding:0 10px;
			border:none;
			outline:none;
			color:#000000;
			transition:color,background-color .4s;
			border-bottom:1px solid #e3e3e3;
		}
		.closeimg{
			display:none;
		}
		#header-bottom-inner{
			position:relative;
		}
		.navbutton{
			position:absolute;
			top:-43px;
			left:15px;
			width:25px;
		}
		.closebutton{
			position:absolute;
			top:-43px;
			left:15px;
			width:25px;
			display:none;
		}
		.lnb{
			width:100%;
			background:#202020;
			opacity:0.95;
			padding:15px;
			box-sizing:border-box;
			display:none;
			position:absolute;
			z-index:30;
		}
		.lnb>li{
			background:#000;
			line-height:120px;
			border-bottom:1px solid rgba(255,255,255);
			text-align:center;
			position:relative;
		}
		.lnb>li img{
			width:22px;
		}
		.lnb>li:nth-child(4){
			border:none;
		}
		.sbbutton{
			position:absolute;
			top:55px;
			right:3%;
		}
		.slideupbutton1,.slideupbutton2,.slideupbutton3{
			display:none;
		}
		.lnb>li>a{
			color:#fff;
			font-size:30px;
		}
		.navsubmenu{
			background:#202020;
			display:none;
		}
		.navsubmenu li{
			line-height:100px;
			background:#000;
		}
		.navsubmenu a{
			color:#fff;
			font-size:22px;
		}
		.navsubmenu img{
			display:none;
		}
		.navsubmenu li:nth-child(2){
			margin-bottom:0;
		}
	/*★★★★★★★ detail-top ★★★★★★★*/
		#detail-top{
			width:100%;
			margin:0 auto;
			overflow:hidden;
		}
		.detail-left{
			width:100%;
			padding-top:30px;
			float:left;
			text-align:center;
			margin-bottom:30px;
		}
		.bigimg{
			margin:0 auto;
		}
		.bigimg img{
			width:100%;
			height:auto;
		}
		.detail-left ul{
			width:94%;
			margin:0 auto;
			overflow:hidden;
		}
		.detail-left ul>li{
			width:32%;
			height:70px;
			overflow:hidden;
			float:left;
			margin-right:2%;
			border:1px solid #e3e3e3;
			box-sizing:border-box;
		}
		.detail-left ul>li:nth-child(3){
			margin-right:0;
		}
		.detail-left ul>li img{
			width:85%;
			height:auto;
			margin-top:-14px;
		}
		.detail-right{
			width:100%;
			float:right;
			background:#eeeeee;
			overflow:hidden;
			text-align:center;
			padding-top:30px;
			margin-bottom:40px;
		}
		.detail-right h2{
			margin-bottom:20px;
			font-size:28px;
		}
		.detail-right h3{	
			margin-bottom:20px;
			font-size:18px;
		}
		.detail-right p{
			font-size:26pt;
			font-weight:400;
			margin-bottom:20px;
		}
		.detail-right ul{
			width:94%;
			margin:0 auto 30px;
			overflow:hidden;
		}
		.detail-right ul li{
			width:48%;
			height:50px;
			line-height:50px;
			border-radius:30px;
		}
		.buynow{background:#000; float:left;}
		.buynow a{color:#fff; display:block; font-weight:500;}
		.buynow:hover{background:#fff;transition:0.4s;}
		.buynow:hover a{color:#000;font-size:18px;font-weight:700;transition:0.4s;}
		.addtocart{background:#fff;float:right;}
		.addtocart a{color:#000; display:block; font-weight:500;}
		.addtocart:hover{background:#000;transition:0.4s;}
		.addtocart:hover a{color:#fff;font-size:18px;font-weight:700;transition:0.4s;}
	/*★★★★★★★ detail-middle ★★★★★★★*/
		#detail-middle{
			width:100%;
			margin:0 auto;
			box-sizing:border-box;
			overflow:hidden;
			background:#f3f3f3;
		}
		#detail-middle .middle-top{
			border-top:1px solid #e3e3e3;
			border-bottom:1px solid #e3e3e3;
		}
		#detail-middle .middle-top ul{
			text-align:center;
			width:100%;
			overflow:hidden;
		}
		#detail-middle .middle-top ul li{
			width:33.333%;
			height:60px;
			line-height:60px;
			float:left;
		}
		#detail-middle img{
			margin-top:-50px;
			width:100%;
		}
		.detail1,.detail2,.detail3,.detail4{
			overflow:hidden;
		}
		.detail1-left{
			width:100%;
			padding:2%;
			margin-bottom:20px;
			box-sizing:border-box;
			overflow:hidden;
			margin-bottom:20px;
		}
		.detail1-left h2{
			font-size:20px;
			font-weight:500;
			margin-bottom:20px;
		}
		.detail1-left h3{
			font-size:14px;
			margin-bottom:10px;
			font-weight:400;
		}
		.detail1-left p{
			margin-top:15px;
			font-size:14px;
		}
		.detail1-right{
			float:right;
			overflow:hidden;
			width:100%;
		}
		.detail1-right img{
			float:right;
		}
		.detail2-left{
			overflow:hidden;
			width:100%;
		}
		.detail2-right h2{
			font-size:20px;
			font-weight:500;
			margin-bottom:20px;
		}
		.detail2-right h3{
			font-size:14px;
			font-weight:400;
		}
		.detail2-right p{
			font-size:14px;
		}
		.detail2-right{
			padding:2%;
			width:100%;
			margin-bottom:20px;
			box-sizing:border-box;
		}
	/*★★★★★★★ detail-bottom ★★★★★★★*/
		.detailvideo{
			width:100%;
			overflow:hidden;
			margin:40px auto;
			padding:25px 3%;
			box-sizing:border-box;
			background:#f3f3f3;
		}
		.video-left{
			display:none !important;
		}
		.video-right{
			width:100%;
		}
		.video-right h3{
			text-align:center;
			margin-bottom:20px;
		}
		.video-right p{
			margin-top:15px;
			font-size:13px;
		}
		.youtube-right { position: relative; width:100%; padding-bottom: 56.25%; overflow:hidden;}
		.youtube-right iframe { position: absolute; width: 100%; height: 81%;}
		.dpnone{display:none;}
		/*사양*/
		.detailtext{
			width:100%;
			overflow:hidden;
			margin:40px auto;
			padding:25px 2%;
			box-sizing:border-box;
			background:#f3f3f3;
		}
		.inner-detailtext{
			background:#fff;
			width:100%;
			overflow:hidden;
			padding:20px 1%;
			box-sizing:border-box;
		}
		.inner-detailtext h2{
			text-align:center;
			font-size:20px;
			margin-bottom:20px;
		}
		.inner-detailtext h3{
			margin-bottom:20px;
			font-size:18px;
		}
		.inner-detailtext h4{
			padding-bottom:5px;
			margin-bottom:10px;
			font-size:16px;
			border-bottom:1px solid #f3f3f3;
		}
		.text-left{
			width:100%;
		}
		.inner-text{
			overflow:hidden;
			margin-bottom:30px;
		}
		.inner-left{
			float:left;
			font-size:11px;
		}
		.inner-right{
			float:right;
			text-align:right;
			font-size:11px;
		}
		.text-right{
			width:100%;
		}
	/*★★★★★★★ subscribe ★★★★★★★*/
		#subscribe{
			width:100%;
			margin:60px auto;
			text-align:center;
			clear:both;
		}
		.input_holder{
			width:94%;
			margin:0 auto;
			border:none;
			position:relative;
		}
		#subscribe .sub_bat{
			font-size:22px;
		}
		#subscribe .sub_mem{
			font-size:18px;
		}
		#subscribe .sub_text{
			font-size:16px;
		}
		#subscribe input[type=text]{
			margin-top:15px;
			border:2px solid #dedfe0;
			border-radius:40px;
			padding:0 25px;
			width:100%;
			height:40px;
			box-sizing:border-box;
			font-size:16px;
			outline:none;
		}
		#subscribe input[type=submit]{
			position: absolute;
			bottom:0;
			right:0;
			border: 2px solid #dedfe0;
			background: #cab293;
			height: 40px;
			width:23%;
			border-radius: 40px;
			font-size:16px;
			cursor:pointer;
			outline:none;
		}
	/*★★★★★★★ footer ★★★★★★★*/
		footer{
			width:100%;
			background:#f3f3f3;
			clear:both;
		}
		#footer_inner{
			width:100%;
			margin:0 auto;
			text-align:center;
			position:relative;
			padding:0;
		}
		.footlogo img{
			display:none;
		}
		.footnav{
			padding:10px 15px;
			text-align:left;
		}
		.footnav ul li a{
			color:#a4a4a4;
		}
		.dropmenu{
			display:none;
			margin:10px 0;
			border-top:1px solid #fff;
		}
		.dropmenu li{
			margin:8px 0;
		}
		.dropmenu li:last-child{
			margin:0;
		}
		.dropdown{
			position:relative;
			border-bottom:1px solid #fff;
		}
		.dropbtn{
			overflow:hidden;
		}
		.updownbutton{
			width:15px;
			float:right;
			margin-top:6px;
			transition:0.4s;
		}
		.follow{
			text-align:center;
		}
		.follow h3{
			margin-bottom:20px;
		}
		.follow ul li{
			float:left;
			width:25%;
		}
		.follow ul li a img{
			width:80%;
			max-width:52px;
		}
		.follow{
			margin-bottom:70px;
		}
		.snslogo{
			position:relative;
		}
		.snslogo img{
			-webkit-transition: opacity 0.25s ease-in-out;
			-moz-transition: opacity 0.25s ease-in-out;
			-o-transition: opacity 0.25s ease-in-out;
			transition: opacity 0.25s ease-in-out;
		}
		.hover{
			position:absolute;
			top:-9999px;
			width:0;
			display:none;
		}
		.location{
			text-align:center;
		}
		.location a{
			border-bottom:1px solid rgba(255, 0, 0, 0);
			transition:0.5s;
		}
	}